*{
    margin: 0%;
    padding: 0%;
}
table-box{
    margin: 50%;
}
table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    color: aliceblue;
    padding: 12px 0;
    font-size: medium;
    box-shadow: 0 1px 4px 0 rgb(red, green, blue);
}